
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Qualification</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody id="Tbl_EmployeeData">

    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("Get","Employee")",
            method: "GET",
            contentType: "json",
            success: function (result) {
                var dataHtml = "";
                $.each(data, function (item, index) {
                    dataHtml = dataHtml + "<tr><td>" + item.Name + "</td></tr>";
                });
                $("#Tbl_EmployeeData").html(dataHtml);
            }
        });
    });
</script>

