
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Qualification</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="Tbl_EmployeeData"></tbody>
</table>
<h2><a href="#" onclick="ViewAll();"> View all</a></h2>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //alert()
        ViewAll();
    });

    function ViewAll() {
        $.ajax({
            url: "http://localhost:52530/api/Employee",
            method: "GET",
            contentType: "json",
            success: function (data) {
                //alert(data)
                var dataHtml = "";
                $.each(data, function (index, item) {
                    dataHtml = dataHtml + "<tr><td>" + item.Name + "</td><td>" + item.Qualification + "</td><td>" + item.Gender + "</td><td>" + item.Mobile + "</td><td>" + item.Address + "</td><td><a onclick='View(" + item.ID + ");'>View</td></tr>";
                });
                $("#Tbl_EmployeeData").html(dataHtml);
            }
        });
    }

    function View(id) {
        $.ajax({
            url: "http://localhost:52530/api/Employee/"+id,
            method: "GET",
            contentType: "json",
            success: function (data) {
                //alert(data)
                var dataHtml = "";
                $.each(data, function (index, item) {
                    dataHtml = dataHtml + "<tr><td>" + item.Name + "</td><td>" + item.Qualification + "</td><td>" + item.Gender + "</td><td>" + item.Mobile + "</td><td>" + item.Address + "</td><td><a onclick='View(" + item.id + ");'>View</td></tr>";
                });
                $("#Tbl_EmployeeData").html(dataHtml);
            }
        });
    }

</script>

